@model Escuela
@{
    ViewData["ViewDataName"] = "Información Escuela";
    @* Layout = "_Simple"; *@
}


<p>Prueba con ViewData: @ViewData</p>
<p>prueba con ViewData:  @ViewBag.TextoDePrueba </p>
<h1>Escuela: @Model.EscuelaId </h1>
<h2>Nombre: @Model.Nombre </h2>
<p>Año fundación: @Model.AñoFundación </p>


