@model Escuela
@{
    ViewData["ViewDataName"] = "Información Escuela";
    @* Layout = "_Simple"; *@
}


<p>Prueba con ViewData: @ViewData</p>
<p>prueba con ViewBag:  @ViewBag.TextoDePrueba </p>
<h1>Escuela: @Model.UniqueId </h1>
<h2>Nombre: @Model.Nombre </h2>
<p>Año creación: @Model.AñoDeCreación </p>


